*.a
*.backup
*.edj
*.d
*.la
*.lo
*.o
*.so
*.out
*.output
*.diff
*.lsl.lua
*.lsl2
.deps
.libs
.hg
config.log
config.status
libtool
stamp-h1
bin/extantz
bin/love
bin/LuaSL
bin/skang
docs/SledjHamr/XMRE.txt
lib/constants.lsl
media/bad_scripts/
media/really_bad_scripts/
media/bulk_scripts_dump/
media/Test%20sim/test/bulk_scripts_dump/
src/LuaSL/LuaSL_test
src/LuaSL/LuaSL_lemon_yaccer.c
src/LuaSL/LuaSL_lemon_yaccer.h
src/LuaSL/LuaSL_lemon_yaccer.out
src/LuaSL/lex.backup
src/LuaSL/LuaSL_lexer.c
src/LuaSL/LuaSL_lexer.h
src/LuaSL/LuaSL_LSL_lexer.c
src/LuaSL/LuaSL_LSL_lexer.h
src/others/lemon/lemon
src/others/mimesh/libg3d-0.0.8/libg3d.pc
src/others/mimesh/libg3d-0.0.8/programs/g3d-stat
src/others/mimesh/libg3d-0.0.8/tests/test_buf
src/others/mimesh/libg3d-0.0.8/tests/test_imgdump
src/others/mimesh/libg3d-0.0.8/tests/test_lib
src/others/netsurf/
src/others/polipo/
src/others/prosody/
valgrind_*.log
