*.backup
*.edj
*.o
*.out
*.output
*.diff
*.lsl.lua
*.lsl2
libraries/LuaJIT-1.1.7/src/liblua.a
libraries/LuaJIT-1.1.7/src/luajit
libraries/luaproc/luaproc.so
libraries/lemon/lemon
LuaSL/LuaSL
LuaSL/LuaSL_parser
LuaSL/src/LuaSL_lemon_yaccer.c
LuaSL/src/LuaSL_lemon_yaccer.h
LuaSL/src/LuaSL_lemon_yaccer.out
LuaSL/src/lex.backup
LuaSL/src/LuaSL_lexer.c
LuaSL/src/LuaSL_lexer.h
LuaSL/src/LuaSL_LSL_lexer.c
LuaSL/src/LuaSL_LSL_lexer.h

